* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
     padding: 0; margin: 0;
}

nav {
    background-color: #ffffff;
    border-bottom: 2px solid #EC5B15;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 90000;
}



.logo {
    height: 65px;
    padding-left: 9%;
}

.back-button {
    position: absolute;
    left: 10px;
    background-color: #EC5B15;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 8.3%;
}

.ftop {
    margin-top: 5%;
    text-align: -webkit-center;
}

main {
    margin-top: 95px;
}

#searchInput {
    margin-left: 9%;
    height: 30px;
    width: 200px;
    border: 3px solid #EC5B15;
    border-radius: 7px;
    /* margin-top: 5%; */
}

.formateur-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 5px solid #EC5B15;
    padding: 10px;
    margin-bottom: 5px;
    margin-right: 9%;
    margin-left: 9%;
    border-radius: 80px;
    width: 50%;
}

.delete-button {
    background-color: #EC5B15;
    border: none;
    color: white;
    border-radius: 3px;
    height: 30px;
    width: 100px;
    border-radius: 34px;
}

.add-button {
    position: absolute;
    /* top: 10px; */
    right: 10px;
    background-color: #EC5B15;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 9%;
}

.container {
    text-align: center;
}

h2 {
    text-align: center;
}

.theme-title {
    margin-left: 30%;
    margin-right: 30%;
    padding: 11px;
    border-radius: 41px;
}



/* .formateur-item {
    align-items: center;
    border: 1px solid #ff0000;
    padding: 10px;
    margin-bottom: 5px;
} */



.pagination {
    margin-top: 20px;
    text-align: center;
    border-radius: 100px;
}

.pagination a {
    color: #ffffff;
    padding: 16px 20px;    
    text-decoration: none;
    background-color: #EC5B15;
    text-align: center;
}

.pagination a:hover {
    background-color: #ffffff;
    color: #EC5B15;
    border: 1px #EC5B15;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}